
#root{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 95vh;
    border: 3px solid rgb(124, 124, 234);
    border-radius: 10px;
    overflow: hidden;
}
#navBar{
    margin-bottom: 7px;
    display: flex;
    gap: 5%;
    justify-content: center;
    align-items: center;
}
#tasks{
    height: 27vh;
    box-shadow: 0 0 10px black;
    width: 80vw;
    border-radius: 10px;
    overflow: auto;
}
#tasksDone{
    height: 27vh;   
    width: 80vw;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    overflow: auto;
}
#addInp{
    width: 80vw;
    border-radius: 10px;
}
li{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 73vw;
    border: 2px solid rgb(44, 40, 40);
    border-radius: 17px;
}
li:hover{
    background: aliceblue;
    margin-bottom: 6px;
    margin-top: 6px;
}
p{
    max-width: 145px;
    white-space: normal;
    word-break: break-word;
}
p[contenteditable="true"] {
  white-space: nowrap;
}

button{
    height: 41px;
    width: 60Px;
    border-radius: 17px;
    background: rgb(132, 132, 219);
    color: white;
}
button:hover{
    background: rgb(57, 57, 177);
    transform: scale(1.2);
}
#edit{
    display: none;
}
li:hover{
    #edit{
        display: inline;
    }
}
.dragging{
    opacity: .5;
}