
#root{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* background: yellow; */
    height: 95vh;
    border: 3px solid rgb(124, 124, 234);
    border-radius: 10px;
    overflow: hidden;
}
#tasks{
    height: 30vh;
    box-shadow: 0 0 10px black;
    width: 80vw;
    border-radius: 10px;
    overflow: auto;
}
#tasksDone{
    height: 30vh;   
    width: 80vw;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    overflow: auto;
}
#addInp{
    width: 80vw;
    border-radius: 10px;
}
li{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
button{
    height: 20px;
}